<div *ngFor="let item of news.reverse()">
    <!-- Section: Design Block -->
    <section class="my-6 text-center md:text-left">
      <div class="flex flex-col md:flex-row">
        <div class="mb-6 w-auto basis-auto px-3 md:mb-0">
          <div
            class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat flex justify-center items-center"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            <img
              src="{{ item.image }}"
              class="h-auto w-[300px]"
              alt="selected image"
            />
          </div>
        </div>
  
        <div class="mb-6 w-full basis-auto px-3">
          <h5 class="mb-3 text-lg font-bold">{{ item.title }}</h5>
  
          <div class="mb-6 text-neutral-500 dark:text-neutral-300">
            Veröffentlicht am
            <p>{{ formattedDateString(item.timestamp) }}</p>
          </div>
          <p class="text-neutral-500 dark:text-neutral-300">
            {{ item.content }}
          </p>
          
        </div>
      </div>
    </section>
  </div>
  
