<section
  class="team px-6 py-12"
  style="background-color: var(--toolbar)"
>
  <div class="items-center mx-auto max-w-screen-xl">
    <h3 class="mb-4 text-center text-3xl tracking-tight font-extrabold">
      Steuerberatung für Effizienz und Compliance
    </h3>
    <p class="text-center">
      [BEMERKUNG:Leistungen überblick] Optimieren Sie Ihre Steuerstrategie mit
      unserer ganzheitlichen Beratung. Von der Minimierung der Steuerlast über
      die präzise Einreichung von Steuererklärungen bis hin zur umfassenden
      Prüfung von Finanzdokumenten - wir stehen für Effizienz und Sicherheit in
      allen steuerlichen Angelegenheiten.
    </p>
    <div class="grid gap-x-6 gap-y-24 md:grid-cols-3 lg:gap-x-12 mt-24">
      <div class="member rounded-lg">
        <div class="block h-full rounded-lg">
          <div class="flex justify-center">
            <div class="flex justify-center -mt-[75px]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                style="background-color: var(--accent)"
                class="mx-auto rounded-full shadow-lg p-[10px]"
                height="120"
                viewBox="0 -960 960 960"
                width="120"
              >
                <path
                  d="M160-120v-80h480v80H160Zm226-194L160-540l84-86 228 226-86 86Zm254-254L414-796l86-84 226 226-86 86Zm184 408L302-682l56-56 522 522-56 56Z"
                />
              </svg>
            </div>
          </div>
          <div class="p-1 sm:p-6">
            <h5 class="header mb-4 text-lg font-bold text-left px-3">
              Steueroptimierungen und Beratung
            </h5>
            <p class="mb-6 px-3 text-left">
              Beratung zu Steuerangelegenheiten für Unternehmen und
              Einzelpersonen, um Steuerlasten zu minimieren und gleichzeitig
              gesetzliche Bestimmungen einzuhalten. Strategische Planung für
              langfristige steuerliche Effizienz.
            </p>
          </div>
        </div>
      </div>

      <div class="member rounded-lg">
        <div class="block h-full rounded-lg">
          <div class="flex justify-center">
            <div class="flex justify-center -mt-[75px]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                style="background-color: var(--accent)"
                class="mx-auto rounded-full shadow-lg p-[10px]"
                height="120"
                viewBox="0 -960 960 960"
                width="120"
              >
                <path
                  d="m438-338 226-226-57-57-169 169-84-84-57 57 141 141Zm42 258q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-84q104-33 172-132t68-220v-189l-240-90-240 90v189q0 121 68 220t172 132Zm0-316Z"
                />
              </svg>
            </div>
          </div>
          <div class="p-1 sm:p-6">
            <h5 class="header mb-4 text-lg font-bold text-left px-3">
              Finanzdokumentenprüfung und Compliance
            </h5>
            <p class="mb-6 px-3 text-left">
              Gründliche Überprüfung von Finanzunterlagen wie Bilanzen und
              Gewinn- und Verlustrechnungen, um die Einhaltung steuerlicher
              Vorschriften sicherzustellen und mögliche Unstimmigkeiten zu
              identifizieren.
            </p>
          </div>
        </div>
      </div>

      <div class="member rounded-lg">
        <div class="block h-full rounded-lg">
          <div class="flex justify-center">
            <div class="flex justify-center -mt-[75px]">
              <svg
                style="background-color: var(--accent)"
                class="mx-auto rounded-full shadow-lg p-[10px]"
                xmlns="http://www.w3.org/2000/svg"
                height="120"
                viewBox="0 -960 960 960"
                width="120"
              >
                <path
                  d="M240-80q-50 0-85-35t-35-85v-120h120v-560l60 60 60-60 60 60 60-60 60 60 60-60 60 60 60-60 60 60 60-60v680q0 50-35 85t-85 35H240Zm480-80q17 0 28.5-11.5T760-200v-560H320v440h360v120q0 17 11.5 28.5T720-160ZM360-600v-80h240v80H360Zm0 120v-80h240v80H360Zm320-120q-17 0-28.5-11.5T640-640q0-17 11.5-28.5T680-680q17 0 28.5 11.5T720-640q0 17-11.5 28.5T680-600Zm0 120q-17 0-28.5-11.5T640-520q0-17 11.5-28.5T680-560q17 0 28.5 11.5T720-520q0 17-11.5 28.5T680-480ZM240-160h360v-80H200v40q0 17 11.5 28.5T240-160Zm-40 0v-80 80Z"
                />
              </svg>
            </div>
          </div>
          <div class="p-1 sm:p-6">
            <h5 class="header mb-4 text-lg font-bold text-left px-3">
              Steuererklärungen und Einreichungsdienste
            </h5>
            <p class="mb-6 px-3 text-left">
              Erstellung und Einreichung von Steuererklärungen für Unternehmen
              und Privatpersonen, um sicherzustellen, dass alle steuerlichen
              Verpflichtungen erfüllt werden und Steuererklärungen ordnungsgemäß
              eingereicht werden.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
