<div #start class="w-full flex">
  <section
    class="w-full text-gray-800 text-center lg:text-left background-radial-gradient"
  >
    <div
      class="relative overflow-hidden bg-no-repeat bg-cover"
      style="
        background-position: 50% 50%;
        background-image: url('../../../assets/bilder/photovoltaic-system-2742302_1280.jpg');
        height: 75vh;
      "
    >
      <div class="flex flex-col h-[75vh] max-w-screen-xl mx-auto">
        <div class="flex justify-end items-end flex-grow">
          <div
            class="rounded-lg text-center px-6 py-6 xl:mr-6 mb-[10vh] opacity-100 max-w-[800px]"
            style="background-color: var(--accent)"
          >
            <h1 class="text-4xl font-bold">
              Ihr PV Betater- nicht schlecht und aber gut!
            </h1>
          </div>
        </div>
      </div>
      >
    </div>
  </section>
</div>

<div class="flex flex-col gap-12 my-12">
  <section class="mx-auto max-w-screen-xl text-center px-6">
    <h1 class="text-3xl md:text-3xl xl:text-3xl tracking-tight">
      Wir bringen Ihre Ideen zum Wachsen
    </h1>
    <div class="flex justify-center">
      <div class="">
        <p class="text-gray-500">
          Unser Unternehmen steht für lokal verankerten, preiswerten Service mit
          Leidenschaft. Wir sind stolz darauf, Ihnen maßgeschneiderte Lösungen
          anzubieten, die Ihre Bedürfnisse erfüllen und Ihr Unternehmen
          erfolgreich machen. Vertrauen Sie auf unser engagiertes Team, das mit
          Hingabe und Fachkenntnis arbeitet, um Ihnen den bestmöglichen Service
          zu bieten.
        </p>
      </div>
    </div>
  </section>

  <mat-divider
    style="display: flex; margin: auto"
    class="w-1/2 mx-auto max-w-screen-xl"
  ></mat-divider>

  <div class="mx-auto max-w-screen-xl px-6">
    <section id="animation" class="animation text-gray-800">
      <div class="items-left text-left">
        <div
          class="animation-blocks gap-6 grid grid-cols-1 lg:grid-cols-3 md:grid-rows-3 lg:grid-rows-1"
        >
          <div [ngClass]="ngStyle1" id="section3" class="p-4">
            <span class="material-symbols-outlined min-h-[60px]">
              psychology
            </span>
            <p class="text-lg flex items-center mb-1 font-extrabold">Vision</p>
            <p class="text-sm">
              Profitieren Sie von unserem preiswerten Service mit einem
              ausgewogenen Preis-Leistungs-Verhältnis, speziell für lokale
              Kunden. Vertrauen Sie uns, um qualitativ hochwertige Lösungen zu
              einem erschwinglichen Preis zu erhalten.
            </p>
          </div>

          <div [ngClass]="ngStyle2" id="section2" class="p-4">
            <span class="material-symbols-outlined min-h-[60px]"> swords </span>
            <p class="text-lg flex items-center mb-1 font-extrabold">Mission</p>
            <p class="text-sm">
              Wir befinden uns mitten in der Website-Erstellung und widmen uns
              intensiv dem Programmieren, um kontinuierlich unsere Perspektiven
              zu verbessern. Unser vorrangiges Ziel ist es, den Startschuss zu
              geben um unseren Kunden ein attraktives Angebot zu präsentieren.
              Mit Energie und Entschlossenheit treiben wir unsere Projekt voran,
              um Ihre Vision in die Realität umzusetzen. Mit viel Engagement und
              Anspruch zum Detail wollen wir den Ansprüchen gerecht werden und
              treiben den Entwicklungsprozess voran.
            </p>
          </div>

          <div [ngClass]="ngStyle3" id="section1" class="p-4">
            <span class="material-symbols-outlined min-h-[60px]">
              handshake
            </span>
            <p class="text-lg flex items-center mb-1 font-extrabold">Werte</p>
            <p class="text-sm">
              Unsere Geschäftsidee dreht sich um die Erstellung von Websites für
              lokale Unternehmer zu günstigen und fairen Preisen. Nach dem
              ersten Schritt der Umsetzung, präsentieren wir Ihnen unsere erste
              Demo. Das Projekt befindet sich im Startloch, und wir haben mit
              viel Spaß und Herzblut an der Ausarbeitung unseres Konzepts
              gearbeitet. Unsere Motivation ist es, anderen zu helfen, und sind
              voller Begeisterung für diese Aufgabe.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
