<!-- <div class="md:h-[110px] h-[90px]"></div> -->
<section class="konfiguratorSection md:pt-[110px] pt-[90px]">
  <div>
    <div class="flex justify-center items-center text-center">
      <p class="text-2xl sm:mt-10 mt-6 mb-0" style="font-weight: bolder">
        Jetzt Solaranlage in 3 Minuten planen
      </p>
    </div>
    <div class="w-1/3 flex mx-auto my-5">
      <mat-progress-bar
        mode="determinate"
        [value]="progress"
      ></mat-progress-bar>
    </div>
  </div>
  <mat-stepper [linear]="true" #stepper>
    <!-- /step1/ -->
    <mat-step [stepControl]="firstFormGroup">
      <div class="flex justify-center items-center">
        <p class="heading">Wo möchsten Sie die Solaranlage installieren?</p>
      </div>
      <form [formGroup]="firstFormGroup" class="form">
        <mat-radio-group
          class="flex flex-col justify-center items-center gap-6"
          formControlName="selectedOption"
          required
        >
          <mat-radio-button
            class="flex text-center select"
            value="Einfamilienhaus"
          >
            <p>Einfamilienhaus</p>
          </mat-radio-button>
          <mat-radio-button
            class="flex text-center select"
            value="Zweifamilienhaus"
          >
            <p>Zweifamilienhaus</p>
          </mat-radio-button>
          <mat-radio-button
            class="flex text-center select"
            value="Mehrfamilienhaus"
          >
            <p>Mehrfamilienhaus</p></mat-radio-button
          >
          <mat-radio-button
            class="flex text-center select"
            value="Firmengebäude"
          >
            <p>Firmengebäude</p>
          </mat-radio-button>
          <mat-radio-button
            class="flex text-center select"
            value="Freilandfläche"
          >
            <p>Freilandfläche</p>
          </mat-radio-button>
        </mat-radio-group>
      </form>
      <div class="flex justify-center items-center my-6 nextButton">
        <button mat-button matStepperNext (click)="Next(stepper)">Next</button>
      </div>
    </mat-step>
    <!-- /step2/ -->
    <mat-step [stepControl]="secondFormGroup">
      <div class="flex justify-center items-center">
        <p class="heading">Wie möchten Sie den Solarstrom nutzen?</p>
      </div>
      <form [formGroup]="secondFormGroup" class="form">
        <mat-radio-group
          class="flex flex-col justify-center items-center gap-6"
          formControlName="selectedOption"
          required
        >
          <mat-radio-button
            class="flex text-center select"
            value="Eigenverbrauch"
          >
            <p>Eigenverbrauch</p>
          </mat-radio-button>
          <mat-radio-button
            class="flex text-center select"
            value="Netzeinspeisung"
          >
            <p>Netzeinspeisung</p>
          </mat-radio-button>
          <mat-radio-button class="flex text-center select" value="Beides">
            <p>Beides</p></mat-radio-button
          >
        </mat-radio-group>
      </form>

      <div
        class="flex flex-row justify-center items-center my-6 gap-6 nextButton"
      >
        <button mat-button matStepperPrevious (click)="Back(stepper)">
          Back
        </button>
        <button mat-button matStepperNext (click)="Next(stepper)">Next</button>
      </div>
    </mat-step>
    <!-- /step3/ -->
    <mat-step [stepControl]="thirdFormGroup">
      <div class="flex justify-center items-center">
        <p class="heading">Haben Sie eine südlich ausgerichtete Dachfläche?</p>
      </div>
      <form [formGroup]="thirdFormGroup" class="form">
        <mat-radio-group
          class="flex flex-col justify-center items-center gap-6"
          formControlName="selectedOption"
          required
        >
          <mat-radio-button class="flex text-center select" value="Ja">
            <p>Ja</p>
          </mat-radio-button>
          <mat-radio-button class="flex text-center select" value="Nein">
            <p>Nein</p>
          </mat-radio-button>
          <mat-radio-button class="flex text-center select" value="Teilweise">
            <p>Teilweise</p></mat-radio-button
          >
          <mat-radio-button
            class="flex text-center select"
            value="Nicht sicher"
          >
            <p>Nicht sicher</p></mat-radio-button
          >
        </mat-radio-group>
      </form>

      <div
        class="flex flex-row justify-center items-center my-6 gap-6 nextButton"
      >
        <button mat-button matStepperPrevious (click)="Back(stepper)">
          Back
        </button>
        <button mat-button matStepperNext (click)="Next(stepper)">Next</button>
      </div>
    </mat-step>
    <!-- /step4/ -->
    <mat-step [stepControl]="fourFormGroup">
      <div class="flex justify-center items-center">
        <p class="heading">Wie groß ist die Fläche bzw. geplante Anlage?</p>
      </div>
      <form [formGroup]="fourFormGroup" class="form">
        <mat-radio-group
          class="flex flex-col justify-center items-center gap-6"
          formControlName="selectedOption"
          required
        >
          <mat-radio-button class="flex text-center select" value="30 qm">
            <p>Bis 30 m²</p>
          </mat-radio-button>
          <mat-radio-button class="flex text-center select" value="30 - 100 qm">
            <p>30 - 100 m²</p>
          </mat-radio-button>
          <mat-radio-button
            class="flex text-center select"
            value="100 - 200 qm"
          >
            <p>100 - 200 m²</p></mat-radio-button
          >
          <mat-radio-button
            class="flex text-center select"
            value="200 - 300 qm"
          >
            <p>200 - 300 m²</p></mat-radio-button
          >
          <mat-radio-button
            class="flex text-center select"
            value="mehr als 500 qm"
          >
            <p>Über 500 m²</p></mat-radio-button
          >
        </mat-radio-group>
      </form>

      <div
        class="flex flex-row justify-center items-center my-6 gap-6 nextButton"
      >
        <button mat-button matStepperPrevious (click)="Back(stepper)">
          Back
        </button>
        <button mat-button matStepperNext (click)="Next(stepper)">Next</button>
      </div>
    </mat-step>
    <!-- /step5/ -->
    <mat-step [stepControl]="fiveFormGroup">
      <div class="flex justify-center items-center">
        <p class="heading">
          Möchten Sie grundsätzlich lieber kaufen oder mieten?
        </p>
      </div>
      <form [formGroup]="fiveFormGroup" class="form">
        <mat-radio-group
          class="flex flex-col justify-center items-center gap-6"
          formControlName="selectedOption"
          required
        >
          <mat-radio-button
            class="flex text-center select"
            value="Kaufen und mieten"
          >
            <p>Beides interessant</p>
          </mat-radio-button>
          <mat-radio-button class="flex text-center select" value="Mieten">
            <p>Mieten</p>
          </mat-radio-button>
          <mat-radio-button class="flex text-center select" value="Kaufen">
            <p>Kaufen</p></mat-radio-button
          >
        </mat-radio-group>
      </form>

      <div
        class="flex flex-row justify-center items-center my-6 gap-6 nextButton"
      >
        <button mat-button matStepperPrevious (click)="Back(stepper)">
          Back
        </button>
        <button mat-button matStepperNext (click)="Next(stepper)">Next</button>
      </div>
    </mat-step>
    <!-- /step6/ -->
    <mat-step [stepControl]="sixFormGroup">
      <div class="flex justify-center items-center">
        <p class="heading">
          Sind Sie auch an einem Stromspeicher interessiert?
        </p>
      </div>
      <form [formGroup]="sixFormGroup" class="form">
        <mat-radio-group
          class="flex flex-col justify-center items-center gap-6"
          formControlName="selectedOption"
          required
        >
          <mat-radio-button class="flex text-center select" value="Ja">
            <p>Ja</p>
          </mat-radio-button>
          <mat-radio-button class="flex text-center select" value="Nein">
            <p>Nein</p>
          </mat-radio-button>
          <mat-radio-button
            class="flex text-center select"
            value="Noch nicht sicher"
          >
            <p>Noch nicht sicher</p></mat-radio-button
          >
        </mat-radio-group>
      </form>

      <div
        class="flex flex-row justify-center items-center my-6 gap-6 nextButton"
      >
        <button mat-button matStepperPrevious (click)="Back(stepper)">
          Back
        </button>
        <button mat-button matStepperNext (click)="Next(stepper)">Next</button>
      </div>
    </mat-step>
    <!-- /step7/ -->
    <mat-step [stepControl]="sevenFormGroup">
      <div class="flex justify-center items-center">
        <p class="heading">Wie alt ist Ihr Dach?</p>
      </div>
      <form [formGroup]="sevenFormGroup" class="form">
        <mat-radio-group
          class="flex flex-col justify-center items-center gap-6"
          formControlName="selectedOption"
          required
        >
          <mat-radio-button class="flex text-center select" value="In Planung">
            <p>Erst in Planung</p>
          </mat-radio-button>
          <mat-radio-button class="flex text-center select" value="Neu gebaut">
            <p>Gerade erst gebaut</p>
          </mat-radio-button>
          <mat-radio-button class="flex text-center select" value="Nach 1990">
            <p>Nach 1990</p></mat-radio-button
          >
          <mat-radio-button class="flex text-center select" value="Vor 1990">
            <p>Vor 1990</p></mat-radio-button
          >
        </mat-radio-group>
      </form>

      <div
        class="flex flex-row justify-center items-center my-6 gap-6 nextButton"
      >
        <button mat-button matStepperPrevious (click)="Back(stepper)">
          Back
        </button>
        <button mat-button matStepperNext (click)="Next(stepper)">Next</button>
      </div>
    </mat-step>
    <!-- /step8/ -->
    <mat-step [stepControl]="eightFormGroup">
      <div class="flex justify-center items-center">
        <p class="heading">Wo soll die Solaranlage installiert werden?</p>
      </div>
      <form [formGroup]="eightFormGroup" class="flex justify-center">
        <mat-form-field>
          <div class="flex justify-center items-center flex-row mx-auto">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              fill="var(--second)"
              class="mr-2"
            >
              <path
                d="M360-440h80v-110h80v110h80v-190l-120-80-120 80v190Zm120 254q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"
              />
            </svg>
            <input
              formControlName="selectedOption"
              matInput
              placeholder="PLZ"
              required
            />
          </div>
        </mat-form-field>
      </form>

      <div
        class="flex flex-row justify-center items-center my-6 gap-6 nextButton"
      >
        <button mat-button matStepperPrevious (click)="Back(stepper)">
          Back
        </button>
        <button mat-button matStepperNext (click)="Next(stepper)">Next</button>
      </div>
    </mat-step>
    <!-- /step9/ -->
    <mat-step [stepControl]="nineFormGroup">
      <div
        *ngIf="showSpinner; else content"
        class="flex flex-col justify-center items-center gap-4"
      >
        <div class="heading">Ihre Angebote werden erstellt.</div>
        <mat-spinner></mat-spinner>
      </div>

      <ng-template #content>
        <div class="flex justify-center items-center">
          <p class="heading">Wo soll die Solaranlage installiert werden?</p>
        </div>
        <form [formGroup]="nineFormGroup" class="flex justify-center">
          <div class="flex justify-center items-center flex-col mx-auto">
            <mat-form-field>
              <input
                formControlName="name"
                matInput
                placeholder="Vor- und Nachname"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                formControlName="email"
                matInput
                placeholder="Email"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                formControlName="tel"
                matInput
                placeholder="Telefon"
                required
              />
            </mat-form-field>

            <!-- <input type="checkbox" formControlName="box" required /> -->
            <mat-checkbox formControlName="box" required style="font-size: 16px"
              >Ich habe die
              <a
                routerLink="/datenschutzerklaerung"
                routerLinkActive="routeIsActive"
                class="box-agb"
                >Datenschutzerklärung</a
              >
              gelesen und akzeptierte sie</mat-checkbox
            >
          </div>
        </form>

        <div
          class="flex flex-row justify-center items-center my-6 gap-6 nextButton"
        >
          <button mat-button matStepperNext (click)="Next(stepper); Senden()">
            Angebote vergleichen
          </button>
        </div>
      </ng-template>
    </mat-step>
    <!-- /ENDE/ -->
    <mat-step class="flex justify-center items-center flex-col">
      <div class="flex justify-center items-center">
        <p class="heading">
          Wir werden uns schnellst möglich bei Ihnen melden.
        </p>
      </div>
      <div class="flex flex-row justify-center items-center gap-6 nextButton">
        <button mat-button routerLink="/start" routerLinkActive="routeIsActive">
          Zurück zur Startseite
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</section>
<!-- <div class="background"></div> -->
